.navbar {
	margin: 5px 5px 0px 0px;
}

/* navbar menu items */
.navbar .nav > li > a {
	color: black;
	font-size: 1.5em;
}

.navbar-inner {
	background: transparent;
	border-width: 0px;
	box-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	color: black;
}